<h1 class="headline">Welcome to my App</h1>
<hr />

<h2> List of names </h2>
<table>
<tr>
    <th>Firstname</th>
    <th>Lastname</th>
  </tr>
<% @nonames.each do |name| %>
<tr>
<td><%= name.firstname %></td>
<td><%= name.lastname %></td>
<% end %>
</tr>
</table>
<hr />
<%= link_to 'Want to add your name to this list? Click here!', new_noname_path  %>
