<div class="booyah-box col-10 offset-1">
<h1>Enter Your First name and Last name Details</h1>
<%= simple_form_for @noname do |f| %>
  <%= f.input :firstname %>
  <%= f.input :lastname%>
  <%= f.submit 'Create' %>
<% end %>
</div>